<nav class="navbar">
    <div class="container">
        <div class="nav-content">
            <a href="/movies" class="logo">
                <span class="logo-icon">🎬</span>
                <span class="logo-text">MovieHub</span>
            </a>
            <div class="nav-links">
                <a href="/movies" class="nav-link">
                    <span class="nav-icon">🎞️</span>
                    All Movies
                </a>
                <a href="/movies/new" class="nav-link">
                    <span class="nav-icon">➕</span>
                    Add Movie
                </a>
            </div>
        </div>
    </div>
</nav>